
// $BgColor: #1B4965;
// $secondaryBgColor: #0D2F45;
// $textColor: #FFFBFC;
// $supportColor: #60E1E0;

// $RevBgColor: #f6f9ff;
// $RevSecondaryBgColor: #929fa8;
// $RevTextColor: #0D2F45;
// $RevSupportColor: #1da8ff;

$mdWidth: 720px;
$lgWidth: 1200px;

:root {
  --bg-color: #1B4965;
  --text-color: #fffbfc;
  --secondary-bg-color: #0d2f45;
  --support-color: #60E1E0;
  --dark-hover-color: #1B496599;
  --light-hover-color: #159e9e99;
  --shadow-out-color: #000000aa;
  --shadow-in-color: #2c2c2caa;
  --transition: all 0.3s ease-in-out;
  
  scroll-behavior: smooth;
}

body.light {
  --bg-color: #f6f9ff;
  --text-color: #0d2f45;
  --secondary-bg-color: #d1e9fa;
  --support-color: #1da8ff;
  --dark-hover-color: #acc1ce99;
  --light-hover-color: #2be3e399;
  --shadow-out-color: #424242aa;
  --shadow-in-color: #828282aa;
}