
$BgColor: #1B4965;
$secondaryBgColor: #0D2F45;
$textColor: #FFFBFC;
$supportColor: #60E1E0;

$RevBgColor: #f6f9ff;
$RevSecondaryBgColor: #929fa8;
$RevTextColor: #0D2F45;
$RevSupportColor: #1da8ff;

$mdWidth: 720px;
$lgWidth: 1200px;