@import './global';


* {
  transition: .3s all ease-in-out;
}

.container {
  padding: 1rem;
  min-height: 60vh;
  width: 100%;
  color: var(--text-color);
  background-image: url('../assets/img/bgSvg.svg');
  background-color: var(--bg-color);
  background-blend-mode: soft-light;

  &__header {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2rem 0;
    padding-top: 2.5rem;
    text-shadow: 2px 2px #cccc;
    cursor: default;
  }
}

@import '../componentes/Header/header';
@import '../pages/Home/home';
@import '../pages/About/about';
@import '../pages/Career/career';
@import '../pages/Skills/skills';
@import '../pages/Projects/projects';
@import '../pages/Contact/contact';
@import '../componentes/Footer/footer';
