.container.contact__conatiner {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__wrapper {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  max-width: 55rem;
  margin: 0 auto;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  min-width: 15rem;
}

.contact__form {
  flex: 1;
  width: 100%;
  margin-top: 0.25rem;
  gap: 2rem;

  textarea {
    min-height: 15rem;
  }
}

.contact__option {
  background: var(--bg-color);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 2px solid transparent;
  transition: var(--transition);
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  * {
    margin: 0;
  }
}

.contact__option:hover {
  background: transparent;
  border-color: var(--secondary-bg-color);
  border: 2px solid var(--text-color);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--text-color);

  span {
    font-size: 0.75rem;
    margin-top: 0.35rem;
    font-style: italic;
  }

}

/* ============================= Form ============================ */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .contact-form-submit-btn {
    height: 3.5rem;
    border-radius: 0.25rem;
    width: 12rem;
    font-weight: bolder;
    border: 2px solid var( --support-color);
    color: var( --support-color);
    margin: 0 auto;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
  }
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--text-color);
  resize: none;
  color: var(--text-color);
  outline-color: var(--text-color);
}

/* ================ Media Qurerries Medium ======================== */

@media screen and (max-width: 1024px) {
  .container.contact__conatiner {
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}

/* ================ Media Qurerries Small ======================== */

@media screen and (max-width: $mdWidth) {
  .contact__wrapper {
    flex-direction: column;
  }
  .container.contact__conatiner {
      width: 90%;
  }
}
