footer {
  // background: var(--secondary-bg-color);
  // padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer a {
  color: var(--text-color);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  // margin-bottom: 2rem;
  display: block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  // margin: 0 auto 3rem;
  margin: 0;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  // margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--text-color);
  border-color: var( --support-color);
}

.footer__copyright {
  // margin-bottom: 4rem;
  color: var(--text-color);
}

/* ================ Media Qurerries Medium ======================== */

@media screen and (max-width: 1024px) {
}

/* ================ Media Qurerries Small ======================== */

@media screen and (max-width: $mdWidth) {
  .permalinks {
      flex-direction: column;
      gap: 1.5rem;
      list-style: none;
      padding: 0;
  }

  .footer_socials {
      margin-bottom: 2.6rem;
  }
}