footer {
  background: $secondaryBgColor;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 7rem;
}

footer a {
  color: $textColor;
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: $BgColor;
  color: $textColor;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: $textColor;
  border-color: $supportColor;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: $textColor;
}

/* ================ Media Qurerries Medium ======================== */

@media screen and (max-width: 1024px) {
}

/* ================ Media Qurerries Small ======================== */

@media screen and (max-width: 600px) {
  .permalinks {
      flex-direction: column;
      gap: 1.5 rem;
  }

  .footer_socials {
      margin-bottom: 2.6rem;
  }
}