.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  height: 4rem;
  // box-shadow: 0px 5px 10px var(--bg-color);
  position: sticky;
  z-index: 11;
  top: 0;
  background-image: url('../../assets/img/bgSvg.svg');
  background-color: var(--secondary-bg-color);
  background-blend-mode: soft-light;

  &__logo-container {
    img {
      height: 3rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-menu {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      height: 100%;
      gap: .75rem;

      .nav-item {
        list-style: none;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        margin-top: 0.5rem;
        min-width: 4rem;
        gap: .25rem;
        position: relative;
        color: var(--text-color);

        &-satus {
          display: inline-block;
          height: 0.25rem;
          margin-top: 0.25rem;
          width: 100%;
          position: absolute;
          bottom: -0.25rem;
        }

        &:hover {
          .nav-item-satus {
            background-color: var(--light-hover-color);
          }
        }

        &.active {
          .nav-item-satus {
            background-color: var(--light-hover-color);
          }
        }
      }
    }
  }

  &__theme-switch {
    display: flex;
    align-items: center;

    .theme-switch-wrapper {
      padding: 0.25rem 0.5rem;
      border-radius: 1rem;
      height: 2rem;
      border: 0.25rem solid var(--text-color);
      box-shadow: 2px 3px 5px var(--shadow-out-color), inset 2px 3px 5px var(--shadow-in-color);
      position: relative;
      cursor: pointer;
      color: var(--text-color);

      &::after {
        content: '';
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        background: var(--text-color);
        border-radius: 50%;
        left: 0.15rem;
        top: 0.15rem;
        box-shadow: 2px 2px 5px var(--shadow-out-color);
        transition: var(--transition);
      }
    }

    &.disabled {
      .theme-switch-wrapper {
        &::after {
          left: 1.56rem;
        }
      }
    }
  }

  &__hamburger {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.25rem;
    cursor: pointer;
    display: none;

    span {
      height: 0.25rem;
      width: 2rem;
      border-radius: 0.25rem;
      background-color: var(--text-color);
      display: inline-block;
      transform: rotate(0deg);
      opacity: 1;
      transition: var(--transition);
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }

  &__overlay {
    position: fixed;
    height: 0;
    left: 0;
    top: 4rem;
    background-image: url('../../assets/img/bgSvg.svg');
    background-color: var(--secondary-bg-color);
    background-blend-mode: soft-light;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--transition);
    gap: 3rem;
    overflow: hidden;

    .header__nav {
      &-menu {
        flex-direction: column;

        .nav-item {
          flex-direction: row;
          height: 3rem;
        }
      }
    }

    &.open {
      height: 100vh;
    }
  }
}

@media screen and (max-width: $mdWidth) {
  .header {
    &__nav, &__theme-switch  {
      // display: none;
    }
    &__hamburger {
      display: flex;
    }
    &__overlay {
      // height: 100vh;
    }
  }
}