.projects {
  &-container {
    min-height: 38rem;
    padding: 5rem;
    padding-top: 2rem;
    background-color: var(--secondary-bg-color);

    .projects-wrapper {
      margin-top: 1rem;

      &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
      }

      &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0 2rem;
        margin-top: 1rem;

        &.right-aligned {
          flex-direction: row-reverse;
        }
        
        &-showcase {
          width: 40%;
          position: relative;
          transition: var(--transition);

          img {
            width: 100%;
            border-radius: 0.25rem;
            box-shadow: 8px 8px 20px 0px #000000;
            cursor: pointer;
            position: relative;
            z-index: 1;
          }

          // &-overlay {
          //   visibility: hidden;
          //   opacity: 0;
          //   border-radius: 0.25rem;
          //   width: 100%;
          //   height: 100%;
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   background-color: #00000055;
          //   z-index: 2;
          //   transition: var(--transition);
          //   cursor: pointer;

          //   button {
          //     height: 2.5rem;
          //     padding: 0.5rem 1rem;
          //     border-radius: 0.25rem;
          //     background-color: var(--bg-color);
          //     color: var(--text-color);
          //     font-weight: bolder;
          //     position: absolute;
          //     top: 50%;
          //     left: 50%;
          //     transform: translate(-50%, -50%);
          //     cursor: pointer;
          //     border: none;
          //   }
          // }

          &:hover {
            scale: 1.025;

            .projects-wrapper__block-showcase-overlay {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        &-details {
          width: 60%;
          display: flex;
          flex-direction: column;
          padding: 0 2rem;

          .block-details {
            &__title {
              text-align: center;
              margin-bottom: 0;
            }

            &__desc {
              margin-bottom: 0;
            }

            &__other {
              &-subHeader {
                margin-bottom: 0;
              }

              &-list {
                margin: 0;
              }
            }

            &__footer {
              margin-top: 1rem;
              height: 2.5rem;
              display: flex;
              gap: 1.5rem;
              align-items: center;

              button {
                height: 100%;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                border: 2px solid var( --support-color);
                color: var( --support-color);
                background-color: transparent;
                font-weight: bolder;
                cursor: pointer;
              }
            }
          }
        }
      }

      &__footer {
        padding-top: 2.5rem;
        padding-bottom: 1rem;
        height: 4rem;
        display: flex;
        width: 100%;
        align-items: center;
        gap: .5rem;
        font-size: 2rem;
        justify-content: center;

        span {
          display: inline-flex;
          height: 2rem;
          width: 1.5rem;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding-bottom: 0.25rem;
          border-radius: 0.25rem;

          &.projects-wrapper__footer-prev {
            background-color: var(--secondary-bg-color);
            background-blend-mode: multiply;
            width: 2rem;
            padding-bottom: 0.5rem;
          }

          &.projects-wrapper__footer-next {
            background-color: var(--secondary-bg-color);
            background-blend-mode: multiply;
            width: 2rem;
            padding-bottom: 0.5rem;
          }

          &.active {
            background-color: var(--secondary-bg-color);
            background-blend-mode: multiply;
          }
        }
      }
    }
  }
}

/* ================ Media Qurerries Medium ======================== */

@media screen and (max-width: 1024px) {
  .container.contact__conatiner {
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}

/* ================ Media Qurerries Small ======================== */

@media screen and (max-width: $mdWidth) {
  .projects {
    &-container {
      padding: 1rem;
      .projects-wrapper {
        &__block {
          flex-direction: column-reverse;
          padding: 0;

          &.right-aligned {
            flex-direction: column-reverse;
          }

          &-showcase {
            width: 100%;
          }

          &-details {
            width: 100%;
            padding: 0;
            align-items: center;
          }
        }
      }
    }
  }
}