.skills {
  &-container {
    min-height: 38rem;
    padding: 5rem;
    padding-top: 2rem;

    .skills-wrapper {
      display: flex;
      align-items: center;
      position: relative;

      &__btns {
        background: linear-gradient(to left, var(--dark-hover-color), transparent);
        padding: 10rem 2rem;
        height: 100%;
        // border-radius: 1rem;
        cursor: pointer;
        font-size: 4rem;
        font-weight: bold;
        position: absolute;
        right: -5rem;
        z-index: 2;

        &.left-btn {
          background: linear-gradient(to right, var(--dark-hover-color), transparent);
          right: unset;
          left: -5rem;
        }

        &.disabled {
          opacity: 0.5;
          user-select: none;
          cursor: not-allowed;
        }
      }

      &__list {
        margin: 0 -4rem;
        padding: 0;
        list-style: none;
        display: flex;
        width: calc(100% + 4rem);
        overflow: hidden;
        gap: 2rem;
        // transform: translateY(-1.5rem);
        position: relative;
        left: 2rem;
        scroll-behavior: smooth;
        padding: 0 2rem;

        &-item {
          min-width: 15rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 3rem;

          .skills-item {
            &__header {
              width: 8rem;
              height: 8rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: var(--bg-color) ;
              border: 2px solid var( --support-color);
              border-radius: 50%;
              position: relative;
              z-index: 2;
              transform: translateY(3rem);

              img {
                height: 4rem;
                transition: .3s ease-in-out;
            
                &:hover {
                  transform: scale(1.05);
                }
              }
            }
            &__body {
              padding: 0.75rem;
              padding-top: 4rem;
              width: 100%;
              border: 2px solid var( --support-color);
              transition: .3s ease-in-out;
          
              &:hover {
                background-color: var(--dark-hover-color);
              }

              &-points {
              }
            }
          }
        }
      }
    }
  }
}