.career {
  &-container {
    min-height: 38rem;
    background-color: var(--secondary-bg-color);
    padding: 5rem;
    padding-top: 2rem;
  }

  &__wrapper {
    border-left: 0.25rem solid var( --support-color);
    // border-radius: 0.5rem;
    // padding: 2rem 0;

    &-group {
      transition: .3s ease-in-out;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      padding-right: 2rem;
    
      &:hover {
        background-color: var(--dark-hover-color);
      }
    }

    &-title {
      display: flex;
      height: 2rem;
      align-items: center;
      cursor: pointer;
      margin-bottom: 1rem;

      &-icon {
        display: inline-flex;
        height: 2rem;
        width: 2rem;
        align-items: center;
        justify-content: center;
        // margin-right: 1rem;
        background-color: var(--text-color);
        font-size: 3rem;
        border-radius: 50%;
        color: var(--bg-color);
        font-weight: bold;
        // line-height: 3rem;
        transform: translateX(-1.15rem);
        padding-bottom: 0.8rem;
      }

      &-text {
        display: inline-flex;
        margin: 0;
      }
    }

    &-bubble {
      display: flex;
      margin-top: 2.5rem;
      align-items: center;

      &-icon {
        display: inline-flex;
        // height: 0.25rem;
        // width: 2rem;
        align-items: center;
        justify-content: center;
        background-color: var(--text-color);
        border-radius: 0.2rem;
        color: var( --support-color);
        transform: translateX(-0.2rem);
        color: var(--secondary-bg-color);
        padding: 0.5rem 1rem;
        font-weight: bold;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
      }

      &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50%;
        border: 0.25rem solid var( --support-color);
        padding: 2.5rem;
        max-width: 50%;
        min-height: 15rem;
        margin-left: 2rem;
        transition: .3s ease-in-out;
    
        &:hover {
          background-color: var(--dark-hover-color);
        }

        .bubble-box {
          &__header {
            width: 70%;
            margin: 0 auto;
            display: inline-flex;
            flex-direction: column;
            text-align: center;

            &-title {
              margin: 0;
              display: inline-flex;
              justify-content: center;
            }
            &-subtitle {
              font-style: italic;
            }
          }

          &__details {
            text-align: justify;
            margin: 1rem 0;
          }

          &__footer {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            &-title {
              font-weight: bold;
            }
            &-subtitle {
              font-style: italic;
            }
          }
        }
      }

      &-arrow {
        width: 35%;
        height: 35%;
        min-height: 8rem;
        border-top: 0.25rem dashed var(--text-color);
        border-right: 0.25rem dashed var(--text-color);
        border-top-left-radius: 0;
        border-top-right-radius: 75%;
        position: relative;
        top: 4rem;

        svg {
          position: absolute;
          right: -1.125rem;
          bottom: 0;
          transform: rotate(140deg);
          font-size: 2rem;
        }
      }

      &.right-bubble {
        .career__wrapper-bubble {
          &-box {
            margin-left: 0;
            margin-right: 2rem;
          }

          &-arrow {
            border-right: none;
            border-left: 0.25rem dashed var(--text-color);
            border-top-left-radius: 75%;
            border-top-right-radius: 0;
            margin-left: auto;

            svg {
              left: -1.125rem;
              transform: rotate(140deg);
            }
          }
        }
      }
    }
  }
}

/* ================ Media Qurerries Medium ======================== */

@media screen and (max-width: 1024px) {
  .container.contact__conatiner {
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}

/* ================ Media Qurerries Small ======================== */

@media screen and (max-width: $mdWidth) {
  .career {
    &-container {
      padding: 1rem;
    }

    &__wrapper { 
      &-group{
        padding: 0;
      }

      &-bubble {
        &-wrapper {
          flex-direction: column;
        }

        &-box {
          margin-left: 1rem;
          border-radius: 0.25rem;
          max-width: 100%;
          padding: 1rem;
          gap: 0.5rem;

          .bubble-box__header {
            
          }
        }

        &-arrow {
          width: auto;
          top: 1rem;
          min-height: 5rem;
        }

        &.right-bubble {
          .career__wrapper-bubble-wrapper {
            flex-direction: column-reverse;

            .career__wrapper-bubble-box {
              margin-left: 1rem;
              margin-right: 0;
            }

            .career__wrapper-bubble-arrow {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}